<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="static/xyz.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='xyz.css') }}">
  <title>Contact Form</title>
  </head>
  <body>
  <!-- <div class="ty">sdsds</div>

   <div class="first">
<h1>CONTACT FORM</h1>

   </div> -->
   <div class="bg-image"></div>
<div class="first">
  <h1>CONTACT {{var}}</h1><hr>
</div>
<div class="second">
If you have any questions please don't hesitate to get in touch. We will look forward to reply you asap.
</div>
<div class="third">
<form action="" method="" onsubmit="event.preventDefault(); abc();">
 <input id="name" type="text" name="name" value="fhgghh" placeholder="Your Name" required>
 <input id="mail" type="email" name="mail" value="" placeholder="Your Email " required> <br><br>
 <input id="sub" type="text" name="subject" value="" placeholder="Subject"  required>
 <input id="mobile" type="tel" name="mobile" value="" placeholder="Mobile Number" pattern="[0-9]{10}" required title="Should be of 10 digits"><br><br>
 <textarea id="msg" class="input" name="message" rows="7" cols="30" placeholder="Type your message here..."></textarea><br>
 <button id="but" type="submit"  name="button">SUBMIT!</button>
</form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='form.js') }}"></script>
  </body>
</html>
