<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cutive&family=Abril+Fatface&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css" type="text/css">
  <!-- <link rel="stylesheet" href="../static/nav.css" type="text/css"> -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <title>Covid 19 Analysis</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
  

      <div class="first">

  
          <div class="banner">

              <!-- <p class="second text-white"> Developed by Mohd Nabeel <br> Check out source code on <a href="https://github.com/nabeel6223/Covid19tracker">GitHub</a> </p> -->
          </div>
          <div class="head text-center">
            Covid19India <span> Vaccination Analysis <div>(Till 2 July 2021)</div></span> 
            <br>
            <div class="sub">This Analysis is solely based on govt provided data. Check out source code on <a href="">github</a>.</div>
            
            <div class="sub">Data-informed decision making is critical in a world transformed by the coronavirus pandemic. We’re here to help.</div>  
        </div>
      </div>

      <div class="container container1 mt-5">
<p>*Click on the graphs for the better view</p>
      </div>


    <div class="container mt-5 mb-5">
       
        <span class="text ">
          <h2>Male Vaccination</h2>
          <h3>As the vaccination drive picks up pace in India, the gender gap in vaccination rate (people vaccinated per 1,000 individuals) continues to widen. According to our analysed data, almost 25% males have got the first dose.</h3>
        </span>
        <span class="image">
            <a href="/plot.png" target="_blank"><img src="/plot.png" alt="" ></a> 
        </span>
  
    </div>
    <div class="container mt-5 mb-5">
       
        <span class="text p-5">
          <h2>Female Vaccination</h2>
          <h3>According to our analysed data, almost 24% females have got the first dose.</h3>
        </span>
        <span class="image">
          <a href="/plot1.png" target="_blank"><img src="/plot1.png" alt="" ></a>  
        </span>
  
    </div>
    <div class="container mt-5 mb-5">
       
        <span class="text p-5">
          <h2>Transgender Vaccination</h2>
          <h3>According to our analysed data, almost 12% transgenders have got the first dose.</h3>
        </span>
        <span class="image">
            <a href="/plot2.png" target="_blank"><img src="/plot2.png" alt="" ></a> 
        </span>
  
    </div>
    <div class="container mt-5 mb-5">
       
        <span class="text p-5">
          <h2>Vaccination Per State(1st dose)</h2>
          <h3>According to our analysed data, 5 states have vaccinated more than 50% of its population.Dadra and Nagar Haveli and Daman and Diu is on the top with almost 66% of its population vaccinated while Uttar Pradesh is on the tail with almost 11%. </h3>
        </span>
        <span class="image">
            <a href="/plot3.png" target="_blank"><img src="/plot3.png" alt="" ></a> 
        </span>
  
    </div>   
    <div class="container mt-5 mb-5">
       
        <span class="text p-5 ">
          <h2>Vaccination Per State(2nd dose)</h2>
          <h3>According to our analysed data, 3 states have vaccinated more than 10% of its population with 2nd dose. Tripura is on the top with almost 15% of its population vaccinated with 2nd dose while Bihar is on the tail with almost 2%. </h3>
        </span>
        <span class="image">
            <a href="/plot4.png" target="_blank"><img src="/plot4.png" alt="" ></a> 
        </span>
  
    </div>  
    <div class="container mt-5 mb-5">
       
        <span class="text p-5">
          <h2>Covishield Doses</h2>
          <h3>According to our analysed data, 12 states have used 100% of its vaccines as Covishield while Delhi has done the lowest use of Covishield with almost 75% of its total doses.</h3>
        </span>
        <span class="image">
            <a href="/plot5.png" target="_blank"><img src="/plot5.png" alt="" ></a> 
        </span>
  
    </div>  
    <div class="container mt-5 mb-5">
       
        <span class="text p-5">
          <h2>Covaxin Doses</h2>
          <h3>According to our analysed data, 12 states have not used Covaxin vaccines while Delhi has done the highest use of Covaxin with almost 25% of its total doses.</h3>
        </span>
        <span class="image">
            <a href="/plot6.png" target="_blank"><img src="/plot6.png" alt="" ></a> 
        </span>
  
    </div>  

</body>
</html>